*{ margin: 0; padding: 0; font-family: montserrat;}
.conteudo-center-1200{ margin: 0 auto; width: 96%; max-width: 1200px;}

body{ background: #f1f1f1;}

a { text-decoration: none;}
p { color: #343434}

.menu { float: left; width: 100%; background: #0852C5; box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%); position: fixed; top: 0; z-index: 1;}
.menu .menu-div { float: left; height: 80px; width: 96%; margin: 0 2%;}
.menu .menu-div .menu-div-logo-autoconf { float: left; width: 180px; height: 100%; background: url(../img/logo-autoconf.png) no-repeat center; background-size: 100%;}
.menu .menu-div .menu-div-links { float: right; height: 100%; display: flex; align-items: center;}
.menu .menu-div .menu-div-links a { float: left; color: #fff; box-shadow: inset 0px 0px 0px 1px #fff; padding: 10px 15px; margin: 0 0 0 20px; border-radius: 30px;}
.menu .menu-div .menu-div-links a:hover{ background: #fff; color: #0852C5}

.slides{ float: left; width: 100%; margin: 80px 0 0 0;}

.container-veiculos-home { float: left; width: calc(100% - 40px); background: #fff; padding: 40px 20px 100px; display: flex; flex-flow: wrap; justify-content: space-around;}
.container-veiculos-home .container-veiculos-home-titulo { float: left; width: 100%; margin: 0 0 40px; font: 24px montserrat-bold; text-align: center;}
.container-veiculos-home .container-veiculos-home-div { float: left; width: 23%; margin: 0 1% 2%; box-shadow: inset 0px 0px 0px 1px #dfdfdf; border-radius: 5px;}
.container-veiculos-home .container-veiculos-home-div img { float: left; width: 100%; border-radius: 5px 5px 0px 0px;}
.container-veiculos-home .container-veiculos-home-div .container-veiculos-home-div-infos { float: left; width: calc(100% - 40px); margin: 20px;}
.container-veiculos-home .container-veiculos-home-div .container-veiculos-home-div-infos .container-veiculos-home-div-infos-marca{ float: left; width: 100%; font: 14px montserrat-bold;}
.container-veiculos-home .container-veiculos-home-div .container-veiculos-home-div-infos .container-veiculos-home-div-infos-modelo{ float: left; width: 100%; font: 12px montserrat; margin: 5px 0 0 0; line-height: 16px;}
.container-veiculos-home .container-veiculos-home-div .container-veiculos-home-div-infos .container-veiculos-home-div-infos-preco { float: left; width: 100%; font: 20px montserrat-bold; margin: 10px 0 0 0; color: #343434;}

.menu-lateral { float: left; width: 280px; height: 100vh; background: #212529; position: fixed}
.menu-lateral .menu-lateral-logo-autoconf { float: left; width: calc(100% - 40px); height: 70px; background: url(../img/logo-autoconf.png) no-repeat center left; background-size: 147.5px; box-shadow: 0px 1px 0px 0px rgb(255 255 255 / 20%); margin: 0 20px 10px;}
.menu-lateral .menu-lateral-links{ float: left; width: calc(100% - 40px); margin: 0 20px;}
.menu-lateral .menu-lateral-links a { float: left; width: calc(100% - 20px); padding: 8px 10px; margin: 0 0 5px; border-radius: 5px; display: flex; align-items: center;}
.menu-lateral .menu-lateral-links a ion-icon{ color: #fff; font-size: 22px; float: left;}
.menu-lateral .menu-lateral-links a p{ color: #fff; font-size: 14px; float: left; margin: 0 0 0 8px;}
.menu-lateral .menu-lateral-links a:hover{ background: #0d6efd;}
.menu-lateral .menu-lateral-links a.menu-lateral-ativo{ background: #0d6efd !important;}
.menu-lateral .menu-lateral-fundo{ float: left; width: calc(100% - 40px); margin: 0 20px; box-shadow: 0px -1px 0px 0px rgb(255 255 255 / 20%); position: absolute; bottom: 0;}
.menu-lateral .menu-lateral-fundo a { float: left; width: calc(100% - 20px); padding: 8px 10px; border-radius: 5px; display: flex; align-items: center;}
.menu-lateral .menu-lateral-fundo a ion-icon{ color: #fff; font-size: 22px; float: left;}
.menu-lateral .menu-lateral-fundo a p{ color: #fff; font-size: 14px; float: left; margin: 0 0 0 8px;}
.menu-lateral .menu-lateral-fundo a:hover{ background: #0d6efd;}
.menu-lateral .menu-lateral-fundo form{ float: left; width: 100%;}
.menu-lateral .menu-lateral-fundo form button{ border: none; width: 100%; background: none; margin: 5px 0 10px; cursor: pointer}

.conteudo-center-painel { float: right; width: calc(100% - 280px);}
.conteudo-center-painel .container-painel-div { float: left; width: 96%; margin: 0 2% 100px;}
.conteudo-center-painel .container-painel-div .container-painel-div-titulo-paginas { margin: 0 0 40px; text-transform: capitalize; float: left; width: 100%; height: 70px; display: flex; align-items: center; box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 20%); font: 16px montserrat-bold; color: #212529;}
.conteudo-center-painel .container-painel-div .container-painel-div-form { float: left; width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div{ float: left; margin: 0 0 20px;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div p { float: left; width: 100%; margin: 0 0 5px; font: 14px montserrat; color: #212529;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div p b{ color: red;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div input { float: left; border: none; width: calc(100% - 40px); height: 40px; box-shadow: inset 0px 0px 0px 1px #e5e5e5; border-radius: 5px; padding: 0 20px; color: #212529;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div select { float: left; border: none; width: 100%; height: 40px; box-shadow: inset 0px 0px 0px 1px #e5e5e5; border-radius: 5px; padding: 0 20px; color: #212529;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div button { cursor: pointer; float: left; border: none; width: 200px; height: 40px; border-radius: 5px; color: #fff; font: 12px montserrat-bold; text-transform: uppercase;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div button.button-acao-cadastrar{ background: #198754;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div button.button-acao-cadastrar:hover{ background: #115f3b;}
.conteudo-center-painel .container-painel-div .container-painel-div-form div button.button-acao-editar{ background: #ffc107; color: #212529}
.conteudo-center-painel .container-painel-div .container-painel-div-form div button.button-acao-editar:hover{ background: #dda705;}
.conteudo-center-painel .container-painel-div .container-painel-div-boas-vindas { float: left; width: 100%; color: #343434; line-height: 24px;}
.conteudo-center-painel .container-painel-div .container-painel-div-boas-vindas p{ font-size: 22px;}
.conteudo-center-painel .container-painel-div .container-painel-div-boas-vindas b{ font-family: montserrat-bold}

.container-painel-div-table { float: left; width: 100% !important; border-collapse: collapse; margin: 10px 0 0 0 !important}
/*.container-painel-div-table thead{}*/
.container-painel-div-table thead tr{ box-shadow: inset 0px -1px 0px 0px #e5e5e5;}
.container-painel-div-table thead tr td { font: 12px montserrat-bold; text-transform: uppercase; padding: 10px 20px !important; background: #e5e5e5; color: #212529;}
/*.container-painel-div-table tbody{}*/
.container-painel-div-table tbody tr{ box-shadow: inset 0px -1px 0px 0px #e5e5e5; background: #f9f9f9 !important;}
.container-painel-div-table tbody tr.listra-branca{ background: #f9f9f9;} 
.container-painel-div-table tbody tr td { padding: 15px 20px !important; font: 14px montserrat; color: #212529;}
.container-painel-div-table tbody tr td .botoes-de-acao { float: left; width: 100%; display: flex; align-items: center; justify-content: center; gap: 10px;}
.container-painel-div-table tbody tr td .botoes-de-acao a { cursor: pointer; float: left; padding: 8px 10px; border-radius: 5px; color: #fff; font: 10px montserrat-bold; text-transform: uppercase;}
.container-painel-div-table tbody tr td .botoes-de-acao a.editar{ background: #0d6efd;}
.container-painel-div-table tbody tr td .botoes-de-acao a.editar:hover{ background: #0a5dd7;}
.container-painel-div-table tbody tr td .botoes-de-acao a.excluir{ background: #dc3545}
.container-painel-div-table tbody tr td .botoes-de-acao a.excluir:hover{ background: #b72b38}
.container-painel-div-table tbody tr td .botoes-de-acao form{ float: left;}
.container-painel-div-table tbody tr td .botoes-de-acao form button{ border: none;}

.container-preview-foto{ float: left; width: 100%; cursor: pointer}
.container-preview-foto .preview-foto{ float: left; width: 100%}
.container-preview-foto .preview-foto img { float: left; width: calc(100% - 2px); border-radius: 5px; margin: 0 0 10px; border: solid 1px #e5e5e5;}
.container-preview-foto strong { float: left; width: 100%; height: 40px; border-radius: 5px; background: #0b57d0; display: flex; align-items: center; justify-content: center; color: #fff; font: 12px montserrat-bold; text-transform: uppercase;}
.container-preview-foto strong:hover{ background: #0847ab;}
.container-preview-foto input { display: none}

.dataTables_info{ display: none !important}
.dataTables_paginate{ display: none !important}

.box-shadow-acao{ box-shadow: inset 1px 0px 0px 0px #e5e5e5; width: 150px;}
.txt-align-center{ text-align: center !important;}

.flash-msg { width: 270px; text-align: center; float: left; background: #d1e7dd; color: #0a3622; padding: 20px 20px; position: fixed; right: 30px; top: 40px; border-radius: 10px; font: 16px montserrat; border: solid 1px #0a3622; box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 20%); z-index: 999;}

footer{ float: left; width: 100%; background: #373737;}
footer p{ float: left; width: 100%; text-align: center; color: #fff; padding: 20px 0; font-size: 14px;}

.opacity02{ opacity: 0.1; cursor: default !important;}

.wid-1pc{ width: 1% }
.wid-2pc{ width: 2% }
.wid-3pc{ width: 3% }
.wid-4pc{ width: 4% }
.wid-5pc{ width: 5% }
.wid-6pc{ width: 6% }
.wid-7pc{ width: 7% }
.wid-8pc{ width: 8% }
.wid-9pc{ width: 9% }
.wid-10pc{ width: 10% }
.wid-11pc{ width: 11% }
.wid-12pc{ width: 12% }
.wid-13pc{ width: 13% }
.wid-14pc{ width: 14% }
.wid-15pc{ width: 15% }
.wid-16pc{ width: 16% }
.wid-17pc{ width: 17% }
.wid-18pc{ width: 18% }
.wid-19pc{ width: 19% }
.wid-20pc{ width: 20% }
.wid-21pc{ width: 21% }
.wid-22pc{ width: 22% }
.wid-23pc{ width: 23% }
.wid-24pc{ width: 24% }
.wid-25pc{ width: 25% }
.wid-26pc{ width: 26% }
.wid-27pc{ width: 27% }
.wid-28pc{ width: 28% }
.wid-29pc{ width: 29% }
.wid-30pc{ width: 30% }
.wid-31pc{ width: 31% }
.wid-32pc{ width: 32% }
.wid-33pc{ width: 33% }
.wid-34pc{ width: 34% }
.wid-35pc{ width: 35% }
.wid-36pc{ width: 36% }
.wid-37pc{ width: 37% }
.wid-38pc{ width: 38% }
.wid-39pc{ width: 39% }
.wid-40pc{ width: 40% }
.wid-41pc{ width: 41% }
.wid-42pc{ width: 42% }
.wid-43pc{ width: 43% }
.wid-44pc{ width: 44% }
.wid-45pc{ width: 45% }
.wid-46pc{ width: 46% }
.wid-47pc{ width: 47% }
.wid-48pc{ width: 48% }
.wid-49pc{ width: 49% }
.wid-50pc{ width: 50% }
.wid-51pc{ width: 51% }
.wid-52pc{ width: 52% }
.wid-53pc{ width: 53% }
.wid-54pc{ width: 54% }
.wid-55pc{ width: 55% }
.wid-56pc{ width: 56% }
.wid-57pc{ width: 57% }
.wid-58pc{ width: 58% }
.wid-59pc{ width: 59% }
.wid-60pc{ width: 60% }
.wid-61pc{ width: 61% }
.wid-62pc{ width: 62% }
.wid-63pc{ width: 63% }
.wid-64pc{ width: 64% }
.wid-65pc{ width: 65% }
.wid-66pc{ width: 66% }
.wid-67pc{ width: 67% }
.wid-68pc{ width: 68% }
.wid-69pc{ width: 69% }
.wid-70pc{ width: 70% }
.wid-71pc{ width: 71% }
.wid-72pc{ width: 72% }
.wid-73pc{ width: 73% }
.wid-74pc{ width: 74% }
.wid-75pc{ width: 75% }
.wid-76pc{ width: 76% }
.wid-77pc{ width: 77% }
.wid-78pc{ width: 78% }
.wid-79pc{ width: 79% }
.wid-80pc{ width: 80% }
.wid-81pc{ width: 81% }
.wid-82pc{ width: 82% }
.wid-83pc{ width: 83% }
.wid-84pc{ width: 84% }
.wid-85pc{ width: 85% }
.wid-86pc{ width: 86% }
.wid-87pc{ width: 87% }
.wid-88pc{ width: 88% }
.wid-89pc{ width: 89% }
.wid-90pc{ width: 90% }
.wid-91pc{ width: 91% }
.wid-92pc{ width: 92% }
.wid-93pc{ width: 93% }
.wid-94pc{ width: 94% }
.wid-95pc{ width: 95% }
.wid-96pc{ width: 96% }
.wid-97pc{ width: 97% }
.wid-98pc{ width: 98% }
.wid-99pc{ width: 99% }
.wid-100pc{ width: 100% }

.loading{ display: none; width: 100%; height: 100%; position: fixed; top: 0; z-index: 9999; background: rgba(0, 0, 0, 0.20);}
.engloba-loading{width: 100%;height: 100%;position: fixed;top: 0;z-index: 9999;display: flex;align-items: center;justify-content: center;}
.square-center{ width: 100px; height: 100px; background: #0000006e; display: flex; align-items: center; justify-content: center; border-radius: 5px;}
.lds-roller { display: inline-block; position: relative; width: 64px; height: 64px; }
.lds-roller div { animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; transform-origin: 32px 32px;}
.lds-roller div:after { content: " "; display: block; position: absolute; width: 6px; height: 6px; border-radius: 50%; background: #fff; margin: -3px 0 0 -3px;}
.lds-roller div:nth-child(1) { animation-delay: -0.036s; }
.lds-roller div:nth-child(1):after { top: 50px; left: 50px;}
.lds-roller div:nth-child(2) { animation-delay: -0.072s;}
.lds-roller div:nth-child(2):after { top: 54px; left: 45px; }
.lds-roller div:nth-child(3) { animation-delay: -0.108s; }
.lds-roller div:nth-child(3):after { top: 57px; left: 39px;}
.lds-roller div:nth-child(4) { animation-delay: -0.144s; }
.lds-roller div:nth-child(4):after { top: 58px; left: 32px;}
.lds-roller div:nth-child(5) { animation-delay: -0.18s;}
.lds-roller div:nth-child(5):after { top: 57px; left: 25px; }
.lds-roller div:nth-child(6) { animation-delay: -0.216s; }
.lds-roller div:nth-child(6):after { top: 54px; left: 19px;}
.lds-roller div:nth-child(7) { animation-delay: -0.252s;}
.lds-roller div:nth-child(7):after { top: 50px; left: 14px;}
.lds-roller div:nth-child(8) { animation-delay: -0.288s;}
.lds-roller div:nth-child(8):after { top: 45px; left: 10px;}
@keyframes lds-roller {
	0% {transform: rotate(0deg);}
	100% { transform: rotate(360deg);} 
}

@media(max-width: 1400px){
    .menu-lateral { width: 220px; }
    .conteudo-center-painel { width: calc(100% - 220px); }
    .conteudo-center-painel .container-painel-div { width: 90%; margin: 0 5% 100px; }
    .container-painel-div-table tbody tr td { padding: 10px 15px !important; font: 12px montserrat; }
    .container-painel-div-table tbody tr td .botoes-de-acao a { font: 8px montserrat-bold; }
}

@media(max-width: 1024px){
    .container-veiculos-home .container-veiculos-home-div { width: 30%;}
}

@media(max-width: 990px){
    .menu .menu-div .menu-div-logo-autoconf { width: 130px; }
    .menu .menu-div .menu-div-links a { font-size: 14px; }
    .container-veiculos-home { justify-content: space-between; }
    .container-veiculos-home .container-veiculos-home-div { width: 47%; margin: 0 0% 6%;}
    .container-veiculos-home .container-veiculos-home-div .container-veiculos-home-div-infos { width: calc(100% - 20px); margin: 10px; }
    .container-veiculos-home .container-veiculos-home-div .container-veiculos-home-div-infos .container-veiculos-home-div-infos-preco { font-size: 14px }
    .container-veiculos-home .container-veiculos-home-titulo { margin: 0 0 20px; font-size: 20px}
    .container-veiculos-home { padding: 20px 20px 100px;}
    footer p { width: calc(100% - 20px); padding: 20px 10px; font-size: 14px; line-height: 18px;}
}

@font-face { font-family: 'montserrat-bold'; src: url('fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'), url('fonts/montserrat/montserrat-bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'montserrat'; src: url('fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('fonts/montserrat/montserrat-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal;}